<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.SET_TIME_ZONE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LesInterfacesDeProjetL3"
        tools:targetApi="31">
        <activity
            android:name=".Modefieeprofile"
            android:exported="false" />
        <activity
            android:name=".Anonyme"
            android:exported="false" />
        <activity
            android:name=".PaiementSurPlace"
            android:exported="false" />
        <activity
            android:name=".CardPaiment"
            android:exported="false" />
        <activity
            android:name=".PaymentOnline"
            android:exported="false" />
        <activity
            android:name=".ModifieeParking"
            android:exported="false" />
        <activity
            android:name=".ParkingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ParkingListActivity"
            android:exported="false" />
        <activity
            android:name=".Newparking"
            android:exported="false" />
        <activity
            android:name=".ReservationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationListActivity"
            android:exported="false" />
        <activity
            android:name=".Welcom"
            android:exported="false" />
        <activity
            android:name=".Signin"
            android:exported="false" />
        <activity
            android:name=".EntroScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserOner"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Infos"
            android:exported="false" />
        <activity
            android:name=".Resarvatioon"
            android:exported="false" />
        <activity
            android:name=".Reserveeer"
            android:exported="true" />
        <activity
            android:name=".SinginGoogleFacebook"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMtXi2ogqYipSp7SgOF3IXBXf-CNz0d_w" />

        <activity
            android:name=".map2"
            android:exported="false"
            android:label="@string/title_activity_map2" />
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".profile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>